{
  "lastChangelogVersion": "0.65.2",
  "defaultProvider": "minimax",
  "defaultModel": "MiniMax-M2.7",
  "enabledModels": [
    "opencode-go/glm-5",
    "opencode-go/kimi-k2.5",
    "opencode-go/minimax-m2.5",
    "zai/glm-4.7",
    "zai/glm-5.1",
    "zai/glm-5-turbo",
    "minimax/MiniMax-M2.7",
    "opencode-go/minimax-m2.7"
  ],
  "defaultThinkingLevel": "high"
}